<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079002699250-35u1l0r5c2du9bpb6ep7rtv0udvdckn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079002699250-35u1l0r5c2du9bpb6ep7rtv0udvdckn8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1079002699250-mcv5hbbk2jhfir4bo72bq5dd3io56mio.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDf6uluUfdYqOCKORMsf6KVdnaLjsQGs9k</string>
	<key>GCM_SENDER_ID</key>
	<string>1079002699250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fleacttech.winkdev</string>
	<key>PROJECT_ID</key>
	<string>wink-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>wink-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079002699250:ios:c19ebea2c7bf39eb62076b</string>
	<key>DATABASE_URL</key>
	<string>https://wink-app-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>